################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/FirstApplication/DesignTimeBuild/.dtbcache.v2
/.vs/FirstApplication/FileContentIndex/*.vsidx
/.vs/SkillFactory/FileContentIndex/*.vsidx
/.vs/slnx.sqlite
/Lessons/SkillFactoryLessons/.vs/SkillFactoryLessons/FileContentIndex/*.vsidx
/.gitignore.swp
/.vs
/.vscode
/Lessons/SkillFactoryLessons/.vs
/*.vsidx
/Lessons/SkillFactoryLessons/.vs/SkillFactoryLessons/v17/.suo
.vs/                  # Папка с настройками и кешем Visual Studio
*.suo                 # Служебный файл настроек пользователя
*.dbcache.v2          # Кеш базы данных
*.user                # Настройки пользователя
*.userosscache        # Кеш пользовательских настроек
*.userprefs           # Предпочтения пользователя
*.tmp                 # Временные файлы
*.sqlite              # Локальные файлы базы данных (если используются)
/Lessons/SkillFactoryLessons/SkillFactoryLessons/obj/Debug/net8.0/SkillFactoryLessons.AssemblyInfo.cs
/Lessons/SkillFactoryLessons/SkillFactoryLessons/obj/Debug/net8.0/SkillFactoryLessons.AssemblyInfoInputs.cache
