################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################
/.gitignore.swp
/.vs
/.vscode
/Lessons/SkillFactoryLessons/.vs
*.vsidx
/Lessons/SkillFactoryLessons/.vs/SkillFactoryLessons/v17/.suo
